.order-detail-container {
    .order-detail-header {
        display: flex;
    }

    .order-detail-id {
        margin-top: 10px;
        margin-bottom: 10px;
        h4 {
            margin: 0;
        }
    }

    .order-type {
        p {
            margin: 0;
        }
    }
}