$gery: #e7eaeb;
$border-gery:#d8d8d8;
$white-gery: #f9f9f9;
$text-gery: #5f5f5f;
$text-black: #303030;
$text-pink: #f35998;
$text-white: #ffffff;
$text-purple:#8759f3;
$text-orange: #ec911a;
$text-red: #ed1c24;