.create-team-container {
  display: grid;
  grid-template-columns: 5% 70% auto 5%;

  .create-team-header,
  .create-value-name {
    grid-column: 2/3;
    label {
      color: $text-black;
      font-size: 14px;
    }
  }

  .create-team-header {
    display: flex;
    margin-top: 16px;
    margin-bottom: 27px;
    .chevron-icon {
      margin-top: 7px;
      margin-right: 30px;
      color: $text-black;
    }
    h5 {
      margin-top: 0;
      margin-bottom: 30px;
    }
  }

  .create-value-name {
    .create-man-power {
      width: 100px;
    }
  }

  .create-button {
    grid-column: 2/4;
    position: absolute;
    display: grid;
    grid-template-columns: 5% auto 5%;
    bottom: 5px;
    width: 100%;
    margin-bottom: 10px;

    a {
      grid-column: 2/3;
      width: 100%;
    }
  }
}
