
.progress-bar {
    grid-column: 2/3;
    padding-top: 72px;
}

.progressbar {
    counter-reset: step;
    margin: 0 auto;
    text-align: center;
}

.progressbar li {
    list-style: none;
    display: inline-block;
    width: 23.3%;
    position: relative;
    text-align: center;
    cursor: pointer;
}

.progressbar li:before {
    content: counter(step);
    counter-increment: step;
    width: 30px;
    height: 30px;
    line-height : 30px;
    /*   border: 1px solid #ddd; */
    border-radius: 100%;
    display: block;
    text-align: center;
    margin: 0 auto 10px auto;
    background-color: #ffd503;
}

.progressbar li:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 10px;
    background-color: #eeeeee;
    top: 11px;
    left: -50%;
    z-index : -1;
}

.progressbar li p {
    font-size: 14px;
    line-height: 17px;
    font-weight: 400;
}

.progressbar li:nth-child(odd) p {
    position: relative;
    top: -82px;
}
//   .progressbar li.default p {
//     color: #000;
//   }
.progressbar li:first-child:after {
    content: none;
}

.progressbar li.selected {
    color: #fff;
}

.progressbar .selected p {
    color: #000;
}

.progressbar li:not(.selected) {
    color: #000;
}

.progressbar li.selected:before {
    border-color: #eeeeee;
    /*   background: #ddd; */
}

.progressbar li.selected + li:after {
    background-color: #ffd503;
}

.progressbar li:not(.selected):before {
    background: #eeeeee;
    color: #eeeeee;
}

// ----- Survey Issue -----

.survey-issue {
    grid-column: 2/3;
    padding: 0 16px 10px;
    margin-top: 10px;
    border: 1px solid #d8d8d8;
    border-radius: 5px;
}

.issue-header {
    display: grid;
    grid-template-columns: 50% 50%;
}

.button-fail, .button-pass, .button-undo {
    margin-left: 5px;
    width: 60px;
    height: 30px;
    border: 1px solid #e7eaeb;
    padding: 7px 19px;
    border-radius: 3px;
}

.button-fail, .button-pass, .button-undo, .add-remark, .buttonFinish, .buttonSave {
    cursor: pointer;
}

.add-remark {
    color: #000;
}

.button-fail {
    color: #5f5f5f;
}

.button-pass {
    color: #29af56;
}

.button-undo {
    color: #1a83ec;
}

.buttonFinish {
    background: #ec911a;
    border: none;
    width: 100%;
    padding: 12px 0;
    margin: 10px auto 50px;
    border-radius: 3px;
    color: #fff;
    font-size: 16px;
}

.buttonSave {
    background: #fff;
    border: 1px solid #ec911a;
    color: #ec911a;
    padding: 10px 0;
    border-radius: 3px;
    margin-bottom: 0;
    margin-top: 0;
    box-shadow: 0px 3px 6px 0px #1a000030;
}

.issue-header .issue-name {
    font-size: 15px;
    line-height: 24px;
    color: 303030;
}

.issue-remark {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: "ir-1 ir-2"
                         "ir-3 ir-3";
}

.remark-header {
    font-size: 16px;
    line-height: 19px;
    color: #303030;
    font-weight: 400;
}

.remark-body {
    display: grid;
    grid-template-columns: 100%;
}
.remark-body p {
    color: #5f5f5f;
    margin: 0;
    padding: 2px 0;
    font-size: 14px;
}

.remark-setting {
    margin-left: 11px;
    font-size: 20px;
    cursor: pointer;
}

.issue-remark .remark {
    font-size: 16px;
    line-height: 19px;
}

.finish-section {
    grid-column: 2/3;
}

.right {
    text-align: right;
}
.master-right {
    text-align: right;
    display: flex;
    margin-left: auto;
}

.ir-1 {
    grid-area: ir-1;
}
.ir-2 {
    grid-area: ir-2;
}
.ir-3 {
    grid-area: ir-3;
}

// ------ Multiple Remark ------

.multi-remark {
    grid-column: 2/3;
    padding: 0 16px 10px;
    margin-top: 10px;
    margin-bottom: 40px;
}

.multi-issue-remark {
    display: grid;
    grid-template-columns: 50% 50%;
}

.multi-remark-header {
    font-size: 23px;
    line-height: 24px;
    color: #303030;
    font-weight: 500;
}

.multi-remark-body {
    display: grid;
    border-bottom: 1px solid #ddd;
    margin-top: 20px;
    grid-template-columns: 50% 50%;
    grid-template-areas: "mrb-1 mrb-1"
                         "mrb-2 mrb-3";
}

.mrb-1 {
    grid-area: mrb-1;
}
.mrb-2 {
    grid-area: mrb-2;
}
.mrb-2 p {
    font-size: 10px;
    line-height: 13px;
    color: #949fa2;
}

.mrb-3 {
    grid-area: mrb-3;
}

// ------ Activate Form ------

.activate-form {
    grid-column: 2/3;
    padding: 0 16px 10px;
    margin-top: 10px;
    z-index: 1;
}
.activate-form select {
    display: block !important;
}
.activate-form h6 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 30px;
    color: #303030;
}

.activate-form h5 {
    font-size: 40px;
    line-height: 48px;
    color: #303030;
    margin-bottom: 55px;
}

.activate-form button {
    padding: 13px 61px;
    background: #ec911a;
    border-radius: 3px;
    color: #fff;
    border: none;
    margin-top: 40px;
}

.activate-form span {
    font-size: 12px;
    color: red;
    margin-left: 9px;
}

.activate-form .error-message {
    color: red;
    font-weight: 600;
}

.create-value-name .error-message {
    color: red;
    font-weight: 600;
    font-size: 11px;
}

.activate-label {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 1.1px;
    word-spacing: 3px;
    color: #5f5f5f;
}

.password-label {
    margin: 6px 0;
    font-size: 14px;
    line-height: 17px;
    color: #949fa2;
}

.activate-input {
    box-sizing: border-box !important;
    background: #e7eaeb !important;
    padding: 7px 10px !important;
    color: #303030 !important;
    border-radius: 3px !important;
    border: 1px solid #d8d8d8 !important;
    margin: 10px 0 20px !important;
}

.activate-input:not([readonly]) {
    box-sizing: border-box !important;
    background: #fff !important;
}

.add-img {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(70px, 1fr));
    grid-gap: 5px 5px;
    margin-top: 11px;
    margin-bottom: 28px;
}

.img-item, .pre-img-item {
    padding: 29px 0;
    background: #ddd;
    width: 85px;
    height: 85px;
    text-align: center;
    font-size: 20px;
    border-radius: 5px;
    color: #fff;
}

.pre-img-item {
    padding: 2px;
    width: 85px;
    height: 85px;
    img {
        width: 100%;
        height: 100%;
    }
}

.upload-img {
    display: flex;
    margin-bottom: 20px;
    border: 1px solid #ffd503;
    padding: 2px 5px;
    img {
        width: 50px;
        height: 50px;
    }
    .cancel {
        padding: 8px;
        background: none;
        border-radius: 3px;
        color: #000;
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: auto;
    }
    .submit {
        padding: 8px;
        background: #ec911a;
        border-radius: 3px;
        color: #fff;
        border: none;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 10px;
    }
}

// ------ Slideable Div ------

.swiper-slide {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
    padding: 9px 0;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 11px;
    cursor: pointer;
}

.onClick {
    border: 1px solid #ec911a;
    background: #ec911a;
    color: #fff;
}

// ------ Remark Modal ------

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    z-index: 98;

    width: 100%;
    height: 100%;
    background-color: #000;
}

.modal-box {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;

    width: 95%;
    max-width: 400px;
    background-color: #fff;
    border-radius: 5px;
    padding: 24px 13px 15px;
    max-height: 93vh;
    overflow: auto;

    h2 {
        font-size: 14px;
        line-height: 17px;
        letter-spacing: .4px;
    }
    .reset-button-container {
        text-align: center;
        margin: 38px 0 20px;

        button {
            width: 100%;
            margin: 0;
        }
    }
    .cross-close {
        display: grid;
        grid-template-columns: 90%;
        grid-auto-flow: column;
        margin-bottom: 29px;

        span {
            font-size: 25px;
        }
        i {
            font-size: 28px;
            color: #b9b4b4;
        }
    }

    .remark-cancel-btn {
        border: none;
        background: none;
        cursor: pointer;
    }
}

.modal-button-box {
    text-align: right;
}

.modal-button-box .cancel-button {
    background: none;
    border: none;
    cursor: pointer;
}

.modal-box h3 {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    margin: 2px 0 16px;
}

.modal-box p {
    text-align: left;
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: #ed1c24;
    margin-bottom: 3px;
}

.modal-box textarea {
    height: 9rem;
}

.modal-box .remark-save-btn {
    background: #ec911a;
    border: none;
    padding: 13px 27px;
    margin: 11px 0 0 24px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
}

.modal-box1 {
    position: fixed;
    top: 0;
    left: 0;
    // transform: translate(-90%, -50%);
    z-index: 98;

    width: 100%;
    height: 100%;
    // max-width: 380px;
    background-color: rgba(0, 0, 0, 0.7);
    // border-radius: 10px;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s;
}

.fade-enter,
.fade-leave-to {
    opacity: 0;
}

.slide-enter-active,
.slide-leave-active {
    transition: opacity 0.5s;
}

.slide-enter,
.slide-leave-to {
    opacity: 0;
}

// ------ LSP Profile ------

.lsp-name {
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas:
        "profile-header profile-header"
        "pb-1 pb-2"
        "pb-3 pb-4";
    box-shadow: 0px 6px 6px 0 #1a000069;
    .profile-header {
        grid-area: profile-header;
        h2 {
            font-size: 30px;
            line-height: 37px;
            margin: 37px 0 2px;
        }
        p {
            font-size: 14px;
            line-height: 17px;
            color: #949fa2;
            margin: 0 0 4px;
        }
    }
    .profile-body {
        margin-bottom: 19px;
        margin-top: 8px;
        h5 {
            font-size: 20px;
            line-height: 24px;
            color: #303030;
            margin-bottom: 10px;
        }
        p {
            font-size: 12px;
            line-height: 14px;
            color: #949fa2;
        }
    }
    .pb-1 {
        grid-area: pb-1;
    }
    .pb-2 {
        grid-area: pb-2;
    }
    .pb-3 {
        grid-area: pb-3;
    }
    .pb-4 {
        grid-area: pb-4;
    }
}

.lsp-profile-body {
    padding: 20px;
    .leader-name {
        font-size: 14px;
        line-height: 17px;
        color: #303030;
        padding-left: 20px;
        text-align: left;
    }
    .man-power {
        font-size: 14px;
        line-height: 17px;
        color: #303030;
        text-align: right;
        padding-right: 20px;
    }
    h4 {
        font-size: 20px;
        line-height: 24px;
        color: #303030;
    }
}

.logout-button {
    padding: 20px;
}

// ------ Remarks for LSP Order Detail ------

.remarks {
    grid-column: 2/3;
    margin-top: 10px;
    margin-bottom: 40px;
    h3 {
        font-size: 20px;
        line-height: 24px;
        color: #303030;
        margin-bottom: 16px;
    }
}

.remark {
    width: 100%;
    width: 100%;
    border-bottom: 1px solid #949fa2a1;
    p:first-child {
        font-size: 14px;
        line-height: 24px;
        text-align: left;
        color: #000000b8;
        margin-bottom: 6px;
    }
    p:first-child + p {
        text-align: left;
        font-size: 10px;
        line-height: 13px;
        color: #949fa2;
    }
}

// ------ LSP Repair ------
.replace-item {
    grid-column: 2/3;
    h3 {
        font-size: 20px;
        line-height: 24px;
        color: #303030;
        margin-bottom: 16px;
    }
}

// ------ Assign Or Switch Team Modal ------

.assign-team-modal-header {
    display: flex;
}

.customer-request-detail {
    display: grid;
    grid-template-columns: 50% 50%;
}

.customer-request-date {
    padding-top: 47px;
    text-align: right;
}