.customer-detail-chip {
  margin: 6px 8px;

  .customer-detail-name,
  .customer-detail-address,
  .customer-detail-remark {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 8% 92%;
    align-items: self-start;
    min-height: 20px;

    i {
      margin-right: 7px;
      margin-top: 4px;
    }
    i,span {
        color: $text-gery;
    }
  }
}
