.home-customer-header-button-container {
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    .router-link-active {
      span {
        color: $text-white;
        background-color: $text-orange;
      }
    }
    span {
      width: 100%;
      background-color: $text-white;
      color: $text-gery;
      border-radius: 15px;
    }
    .new,
    .accept {
      width: 95%;
    }
  }