.home-customer-header-button-container {
  grid-column: 2/3;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  span:hover {
    background-color: $text-white;
    color: $text-gery;
  }
  .router-link-active {
    span {
      color: $text-white;
      background-color: $text-orange;
    }
  }
  span {
    width: 100%;
    background-color: $text-white;
    color: $text-gery;
    border-radius: 15px;
  }

  .new,
  .accept, .history {
    width: 95%;
    text-transform: none !important;
  }
}
