.order-step {
    background-color: $text-purple;
    color: $text-white;
    width: 80px;
    text-align: center;
    border-radius: 10px;
}
.completeStatus {
    background-color: #1a83ec !important;
}
.finishStatus {
    background-color: #5f5f5f !important;
}