.table-row-component {
  tr {
    display: grid;
    grid-template-columns: 50% 50%;
    color: $text-black;
    .table-color {
      width: 100%;
      background-color: $gery;
      color: $text-gery;
      border-radius: 0;
      padding: 15px 11px;
    }
  }
  p, .single-remark {
    margin: 5px;
  }
  .single-remark {
    font-size: 11px;
  }
}
