.home-container {
  .home-container-row {
    display: grid;
    grid-template-columns: 5% 90% 5%;

    .home-header-row,
    .home-customer-row,
    .home-customer-header-button,
    .home-customer-footer-button {
      grid-column: 2/3;

      .no-record-yet-message {
        text-align: center;
        color: #d3d3d3;
      }
    }
    
    .home-customer-row {
      margin-bottom: 70px;
    }
  }
}
